proxmox_api_url = "https://servername:8006/api2/json"
proxmox_api_token_id = "user@pam!tokenuser"
proxmox_api_token_secret = "your-secret-token"
proxmox_node = "somenode"
proxmox_iso_storage = "somestorage"